# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
.env

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related (adjusted for the new location)
apps/TheBridgeApp/**/doc/api/
apps/TheBridgeApp/**/ios/Flutter/.last_build_id
apps/TheBridgeApp/.dart_tool/
apps/TheBridgeApp/.flutter-plugins
apps/TheBridgeApp/.flutter-plugins-dependencies
apps/TheBridgeApp/.pub-cache/
apps/TheBridgeApp/.pub/
apps/TheBridgeApp/build/

# Symbolication related
apps/TheBridgeApp/app.*.symbols

# Obfuscation related
apps/TheBridgeApp/app.*.map.json

# Android Studio will place build artifacts here
apps/TheBridgeApp/android/app/debug
apps/TheBridgeApp/android/app/profile
apps/TheBridgeApp/android/app/release
